
//background-image: linear-gradient(90deg, #00CECE, #ff00a7, #ff00cb);


@import "variables";
@import "shadows";
@import "form";

   //  @import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');

//@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');

//ARREGLAR AL FINAL

.contact,.about-container,.title-container{
    display: none !important;
}
.visible{
    opacity: 1;
  //  transition: .2s;

}
.invisible{
    opacity: 0 !important;
    //transition: .2s;
}
//text


.super-container{
    transition: .3s;
}

.super_dark-background{
    background: $dark-background;
    transition: .3s;
    
}


p{
    font-size: $Medium;
    line-height: 1.5;
    margin-bottom: 5%;
    font-family: "Tittilium Web";
   
}
.item-paragraph {
    transition: .3s;
}

.main-title{
    font-size: 2.75vw;
    color:
transparent;

-webkit-background-clip: text;

background-clip: text;

background-image: linear-gradient(90deg,
#11bfc8,#ff0cac);

}

h2{
    font-size: $Big;
}
h3{
    font-size: $Medium;
}

h4{
    font-size: $XSmall;
}
h1, h2, h3, h4, h5, p,a,label{
  line-height: 1.15;
    font-family: 'Titillium Web', sans-serif;
}
h1, h2, h3, h4, h5{
    font-weight: 600;
}

.title-container{
    width: 100%;
    padding: 1% 0;
    .title{
        text-align: center;

    }
    .title_dark-mode{
        //color: purple;
    }
}

header {
height: 7.5vh;
    position: fixed;
    background:
        #f0f0f0e6;

    display: flex;

    flex-direction: row;
    box-shadow: 2px 2px 2px #d7d7d7;
    align-items: center;

    justify-content: space-around;
top: 0px;
    width: 100%;
   
  
}
  .header-flag{
            //background: url(../united-states.svg);
      height: 2vw;
    width: 2vw;
      background-size: cover;

}

.header-indicator{

    font-size: 12px;
    box-shadow: 2px 2px 2px 0px #686868ad;
    background: #8c8c8c;
    padding: 1%;
    position: absolute;
    font-weight: 600;
    border-radius: 4px;
    color: white !important;
    display: block;
      @extend .z-depth-1;
    opacity: 0;
transition: .2s;
pointer-events: none;
    background: linear-gradient(120deg,#1586ea,#5d1cee);
}

.header-item:hover .header-indicator {
	opacity: 1;
	transition: .2s;
    pointer-events: all;
}


 .material-icons{
        font-size: $XBig;
    }

.main-container {
    display: flex;
   // padding: 2% 0;
    flex-direction: row;
    flex-basis: 25%;
   min-height: 100vh;
    

}

.item {
    display: grid;
    /* height: auto; */
//    min-height: 95vh;

    grid-template-rows: 1fr 0;
    
    /* height: 400px; */
    /* align-content: baseline; */
    color: #010320;
//flex-grow: 1;
width: 100%;
    //flex-basis: 25%;
//flex-shrink: 3;   
    transition: .2s;
    flex: 1;
    overflow: hidden;
    //justify-content: center;
   // align-items: center;
        @include img;
align-items: end;
        //transition: flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    transition: 0.1s;
    @include img-overlay_blue;
}

.item_active{
    flex:4;
    transition: 0.1s;
    //flex-grow: 3;
    //transition: .2s;
}


.item_active.item1{
   background:  url("../media/pokedex.JPG");
    transition:0.2s;
}

.item_active.item2{
   background:  url("../media/template.JPG");
    transition:0.2s;
}

.item_active.item3{
   background:  url("../media/idles.JPG");
    transition:0.2s;

}
.item_active.item4{
   background:  url("../media/openSans.JPG");
    transition:0.2s;
}



.item-img {
    height: 100%;
    background: black;
    @include img;
      @extend .z-depth-3;
    
}


.item_more {
display: flex;
align-content: center;
justify-content: center;
align-items: center;
    
}
.item_more{
margin: 10px;
font-size: 1.8vw;
    margin-bottom: 10%;
    color:
transparent;

-webkit-background-clip: text;

background-clip: text;

background-image: linear-gradient(90deg,
#11bfc8,#ff0cac);
}

.item-text {
    display: flex;
    flex-direction:column;
pointer-events: none;
    opacity: 0;
    background: gold;
    transition: .3s;
    transform: scale(0);
    background: #f7f7f7;
    align-self: center;
        color: white;

}

.item-text_form{
    pointer-events: none;
    opacity: 0;
    margin: 0;
    transition: .3s;
    transform: scale(0);
}
.item-title_closed{
    writing-mode: vertical-lr;
color:
white;
    align-self: center;
justify-self: center;
}

.item_active .item-text{
    transform: scale(1);
opacity: 1;
transition: .2s;
pointer-events: all;
    box-shadow:
  0 2.1px 2.5px rgba(0, 0, 0, 0.202),
  0 17px 9px rgba(0, 0, 0, 0.25);
    padding: 5%;
background: $blue-gradient;
}

.item_active .form-container{
    display: block;
    padding: 3% 0;
}
.item_active .item-title_closed{
    display: none;
}
.item-img{
    display: none;
}
.item-paragraph{
            font-size: 1.5vw;
        line-height: 1.5;
    color: $black;
    transition: .2s;
    color: inherit;
}

.item-paragraph_dark-mode{
    color: $gray-text;
    transition: .3s;
}

.item_active{
background-color:
#0000;
transition: 0.2s;
}

.item-title{
    margin: 1% 0;
    transition: .3s ease-in;
color:
transparent;
font-weight: 600;
-webkit-background-clip: text;
font-size: 1.602vw;
background-clip: text;

background-image: linear-gradient(90deg,
#11bfc8,#ff0cac);
    color: inherit;
}
.item-title_dark-mode{
    transition: .3s ease-out;
    //color: gray;
}

.item0-main-text{
    padding: 5%;
}

.item0-title_open{
font-size: 3.6vw;
    }

.item0-text, .about-list-item{
    font-size: $XBig;
    
}

.item0-footer{
    font-weight: 600;
    padding: 3%;
    align-self: center;
    justify-self:end;
    color: white;
    a{
        color: inherit;
    }
}
.about-list-item{
    display: block;
}




.item2-styleguide{
    display: block;
    font-weight: 600;
    font-size: 1.5vw;
}

.item_active .form-item_open{
    display: grid;
    grid-template-rows: 1fr  1fr;
    align-items: center;
    justify-items:center;
}
.form-item_open{
    display: none;
    padding: 3% 5%;
}
.form-container{
    display: none;
    background: white;
}
//about


#item-text_about{
margin: 5% 0 0 0;
    background: 0;
    box-shadow: 0 0 0 0;
    padding: 0;
}
  
.icons-container{
    padding: 1% 0;
display: flex;
align-items: center;
justify-content: center;
}

.item_hidden{
    display: none;
}
.about-list{
    display: flex;

flex-direction: row;

justify-content: space-around;
    font-weight: 600;
flex-wrap: wrap;
}
.about-list-item{
    list-style-type: disc;

margin: 0 2%;
}



.form-container_dark-mode{
    background: #1f2328;
    transition: 0.2s;
}


    //media queries
 @media only screen and (max-width: 825px) {

     .main-title{
         font-size: 2rem;
     }
     .item-title, .about-title{
         font-size: 2.25vw;
     }
     
     
     .item-paragraph, .about-text-desc{
         font-size: 1.95vw;
         
     }
     .Item_more{
         font-size: 2.5vw;
     }
     
}

 @media only screen and (max-width: 650px) {
     .header-flag{
         height: 2rem;
         width: 2rem;
     }
     
     .main-container{
         flex-wrap: wrap;
        min-height: 100vh;
         flex-direction: column;
         
     }
    
     .item{
        //Esto necesita un arreglo
height:50vh;
     }
     .item_hidden{
         display: block;
         background: purple;
     }
     
     .item-title_closed{
         writing-mode:rl;
         
     }
       .item-title, .material-icons, .about-title, , .form-title{
             font-size: 1.5rem;
         }
.item-paragraph, .about-text-desc, .my-name,.item2-styleguide {
             font-size: 1.15rem;
         }
     .item4-title{
         font-size: 1.35rem;
     }
 
     .contact{
         grid-template-columns: 1fr;
         grid-template-rows: auto 1fr;
         
     }
     .myself{
         text-align: center;
         padding: 5%;
     }
     .what-i-do{
         font-size: 3rem;
         
     }
     
     form{
         grid-template-columns: 1fr;
     }
     .form-section{
         width: 90%;
         margin: 3%;
     }
.form-section_message{
         grid-column: 1;

grid-row: 3;
     }
     
     .input{
         font-size: 1.35rem;
         font-size: 1rem;
     }
     .form-subtitle{
         font-size: .85rem;
         margin: 1% 0 2%;
     }
     .form-button{
         grid-column: 1;
         margin: 50px;
     }
     .icon{
         font-size:3rem;
     }
}



 @media only screen and (max-width: 415px) {
     .item{
         height: 450px;
     }

     
}

 @media only screen and (max-width: 415px) {
     
     .item{
         height: 255px;
         
     }


}